.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../src/assets/background.png');
  background-size: cover;
  color: #ffffff;
}

.auth-container {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
